<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.6.0/jquery.min.js"></script>
    <title></title>
</head>
<body>
<form id="uploadForm" enctype="multipart/form-data">
    <input id="file" name="file" type="file"/>
</form>
<button id="btn" type="button">上传文件</button>
<div id="images"></div>
</body>
<script type="text/javascript">
	function fitSize(w, h, l) {
		let maxL = Math.max(w, h);
		if (maxL > l) {
			return {
				w: w * (l / maxL),
				h: h * (l / maxL)
			};
		} else {
			return {
				w: w * (maxL / l),
				h: h * (maxL / l)
			};
		}
	}

	$(function () {
		$("#btn").click(function () {
			let formData = new FormData(document.getElementById("uploadForm"));
			$.ajax({
				type: 'post',
				url: "/upload",
				data: formData,
				cache: false,
				processData: false,
				contentType: false,
				success: function (data) {
					if (!data.state) {
						alert(data.msg);
						return;
					}
					// alert(JSON.stringify(data));
					data.imgs.forEach(function (imgBase64) {
						let imgObj = window.document.createElement("img");
						imgObj.src = imgBase64;
						{#清空上一张#}
						document.getElementById("images").innerHTML = '';
						document.getElementById("images").appendChild(imgObj);
						let i = setInterval(() => {
							console.log(imgObj.width, imgObj.height);
							if (imgObj.width && imgObj.height) {
								let size = fitSize(imgObj.width, imgObj.height, 1024);
								imgObj.width = size.w;
								imgObj.height = size.h;
								clearInterval(i);
							}
						}, 0);
					});
				},
				error: function () {
					alert("上传失败");
				}
			});
		});
	});
</script>
</html>